.card-div:hover .check-icon {
    color: #FFFFFF;
}

.card-btn {
    width: 100%;
    background-color: #5A01CB;
    padding: 8px;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

.card-div:hover .card-btn {
    background-color: #FFFFFF;
    color: #5A01CB;
}